$main-color: #288F76;
$secondary-color: #FFFAFF;
$font-color: #303036;

$dark-shade: #595758;
$light-blue: #B8DBD9;
$white: #F4F4F9;

$main-black: #0A0903;
$cream: #F6D8AE;
$rose: #DA4167;
$blue: #1B998B;